@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@using Syncfusion.Blazor.BarcodeGenerator;


<div class="control-section" style="width: 100%;height: 590px;">
    <div class="center">
        <div class="centercontrol">
            <SfQRCodeGenerator Width="200px" Height="150px" Value="https://www.syncfusion.com/blazor-components">
                <QRCodeGeneratorDisplayText Visibility="false"></QRCodeGeneratorDisplayText>
            </SfQRCodeGenerator>
        </div>
    </div>
</div>
<style>
    .centercontrol {
        margin: auto;
        width: 50%;
        padding-left: 18%;
        height: 50%;
    }
    .allowedText {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        width: auto;
        height: auto;
    }
    .center {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        min-width: 280px;
        width: auto;
        border: 2px solid lightgray;
        min-height: 40%;
        padding-top: 35px;
    }
</style>