@page "/hello"
<h3>Hello</h3>

<input @bind="fullName" />
<button @onclick="Welcome">xin chào</button>
<h4 >@LoiChao</h4>
@code {
    private string fullName;
    private string LoiChao;
    private void Welcome()
    {
        LoiChao = $"xin chào bạn {fullName} đến với bemmteam";
    }

    
}
