<!-- Header -->
<header class="header">
    @*  *@
<div class="grid">
    <nav class="header_navbar">
        <!-- nav 1 -->
        <ul class="header_navbar-list">
            <li class="header_navbar-item header_navbar-item-qr header_navbar-item--separate">
                Vào cửa hàng trên ứng dụng F8-Shop
                <div class="header_qr">
                    <img src="./assets/img/qrcode.png" alt="QRCODE" class="header_qr-img" />
                    <div class="header_qr-apps">
                        <a href="" class="header_qr-link">
                            <img src="./assets/img/ggplay.png" alt="ggplay" class="header_qr-down-img" />
                        </a>

                        <a href="" class="header_qr-link">
                            <img src="./assets/img/appstore.png" alt="appstore"
                                 class="header_qr-down-img" />
                        </a>
                    </div>
                </div>
            </li>
            <li class="header_navbar-item">
                Kết nối
                <a href="#" class="header_navbar-iconlink">
                    <i class="header_navbar-icon fab fa-facebook"></i>
                </a>
                <a href="#" class="header_navbar-iconlink">
                    <i class="header_navbar-icon fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <!-- end nav 1 -->
        <!-- nav 2 -->
        <ul class="header_navbar-list">
            <li class="header_navbar-item header_navbar-item--noti">
                <a class="header_navbar-item-link" href="#">
                    <i class="header_navbar-icon far fa-bell"></i> Thông báo
                </a>
                <!-- notify -->
                <div class="header_notify">
                    <div class="header_notify-header">
                        <h3>Thông báo mới nhận</h3>
                    </div>

                    <ul class="header_notify-list">
                        <li class="header_notify-item header_notify-item--viewed">
                            <a href="#" class="header_notify-link">
                                <img src="./assets/img/air.jfif" alt="" class="header_notify-img" />
                                <div class="header_notify-info">
                                    <span class="header_notify-name">Mỹ phẩm Ohui chính hãng</span>
                                    <span class="header_notify-desc">
                                        Xác thực chính hãng quá đáng lun nè
                                        hehe
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="header_notify-list">
                        <li class="header_notify-item header_notify-item--viewed">
                            <a href="#" class="header_notify-link">
                                <img src="./assets/img/air.jfif" alt="" class="header_notify-img" />
                                <div class="header_notify-info">
                                    <span class="header_notify-name">Mỹ phẩm Ohui chính hãng</span>
                                    <span class="header_notify-desc">
                                        Xác thực chính hãng quá đáng lun nè
                                        hehe
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="header_notify-list">
                        <li class="header_notify-item">
                            <a href="#" class="header_notify-link">
                                <img src="./assets/img/air.jfif" alt="" class="header_notify-img" />
                                <div class="header_notify-info">
                                    <span class="header_notify-name">Mỹ phẩm Ohui chính hãng</span>
                                    <span class="header_notify-desc">
                                        Xác thực chính hãng quá đáng lun nè
                                        hehe
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="header_notify-list">
                        <li class="header_notify-item">
                            <a href="#" class="header_notify-link">
                                <img src="./assets/img/air.jfif" alt="" class="header_notify-img" />
                                <div class="header_notify-info">
                                    <span class="header_notify-name">Mỹ phẩm Ohui chính hãng</span>
                                    <span class="header_notify-desc">
                                        Xác thực chính hãng quá đáng lun nè
                                        hehe
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="header_notify-footer">
                        <a href="" class="header_notify-footer-btn">Xem tất cả</a>
                    </div>
                </div>
            </li>
            <li class="header_navbar-item">
                <a class="header_navbar-item-link" href="#">
                    <i class="header_navbar-icon far fa-question-circle"></i> Trợ giúp
                </a>

            </li>
            <!-- <li class="header_navbar-item header_navbar-item--strong header_navbar-item--separate">
                Đăng ký
            </li>
            <li class="header_navbar-item header_navbar-item--strong">
                Đăng nhập
            </li> -->
            <Account></Account>
        </ul>
        <!-- end nav 2 -->
    </nav>
    <!-- header search -->
    <div class="header-with-search">
        <a href="/" class="header_logo-link">
            <div class="header__logo">
                <img src="./assets/img/logo.png" alt="" class="header_logo-img" />
            </div>
        </a>
        <div class="header_search">
            <div class="header_search-wrap">
                <input type="text" class="header_search-input" placeholder="Tìm kiếm sản phẩm" />
                <div class="header_search-history">
                    <h3 class="header_search-history-heading">
                        Lịch sử tìm kiếm
                    </h3>
                    <ul class="header_search-history-list">
                        <li class="header_search-history-item">
                            <a href="">Kem dưỡng da</a>
                        </li>
                        <li class="header_search-history-item">
                            <a href="">Kem tẩy cha</a>
                        </li>
                        <li class="header_search-history-item">
                            <a href="">Kem trị mụn</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header_search-select">
                <span class="header_search-select-label">Chọn shop</span>
                <i class="header_search-select-icon fas fa-angle-down"></i>
                <ul class="header_search-option">
                    <li class="header_search-option-item">
                        <span>Trong Shop</span>
                        <i class="fas fa-check"></i>
                    </li>
                    <li class="header_search-option-item">
                        <span>Ngoài Shop</span>
                        <i class="fas fa-check"></i>
                    </li>
                </ul>
            </div>

            <div class="header_search-btn btn btn--primary btn--with-search">
                <i class="header_search-btn-icon fas fa-search"></i>
            </div>
        </div>
        <!-- cart -->
        <CartModal></CartModal>
    </div>

    <!-- end header search -->
</div>
</header>
@code {

}
