<div style="background-color:red" class="preloading">
    <!-- Hiệu ứng load -->
    <!-- <div class="load">
       <img src="loader.gif">
    </div> -->
    <div class="loader">
        <span class="fas fa-spinner xoay icon"></span>
    </div>

</div>