@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    <div class="main">
        <div class=" ">
            <Header></Header>

            @Body
        </div>
    </div>
</div>

